<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Coder Academy Cohort Contacts</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Phone</th>
        <th scope="col">Age</th>
        <th scope="col" colspan="3">Functions</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.address %></td>
          <td><%= contact.city %></td>
          <td><%= contact.state %></td>
          <td><%= contact.phone %></td>
          <td><%= (Date.today - contact.age).to_i/365 %></td>
          <td><%= link_to 'Show', contact, class: "btn btn-primary"%></td>
          <td><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning" %></td>
          <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Create New', new_contact_path, class: "btn btn-success"%>
</div>
